<h2>年代別作品</h2>
<div class="row">
  <div class="one"><%= image_tag 'sample2.jpg' %></div>
  <div class="two"><%= image_tag 'sample2.jpg' %></div>
  <div class="one"><%= image_tag 'sample2.jpg' %></div>
  <div class="two"><%= image_tag 'sample2.jpg' %></div>
  <div class="one"><%= image_tag 'sample2.jpg' %></div>
  <div class="two"><%= image_tag 'sample2.jpg' %></div>
  <div class="one"><%= image_tag 'sample2.jpg' %></div>
  <div class="two"><%= image_tag 'sample2.jpg' %></div>
</div>
